/********** Begin footer **********/
.footer__style {
  background: #4184be;
}

.text-muted {
  text-align: center;
}

.copyright__style {
  padding-bottom: 20px;
}

/********** End footer **********/
