$white: #fff;
$blue-5: #4184be;
$green-5: #1fd15d;
$black: #111;
$grey: #484545;
// For typography (
$default: #2D3748;
$light: #fff;
// 

$primary: #4184be  ;
$primary-light: #90E0EF;
$primary-dark: #0077B6;
$primary-10: #CAF0F8;
$primary-20: #ADE8F4;
$primary-30: #90E0EF;
$primary-40: #48CAE4;
$primary-50: #00B4D8;
$primary-60: #00B4D8;
$primary-70: #4184be ;
$primary-80: #0077B6;
$primary-90: #023E8A;
$primary-100: #03045E;
$primary-linear: linear-gradient(89.92deg, rgba(0, 150, 199, 0.85) 0.76%, rgba(0, 150, 199, 0.65) 99.98%);

//Color button
$warning: #fdb833;

$danger: #e74040;
$success: #40916C;
$secondary: #6C757D;
$violet: #757bc8;
$colors: (
  white: $white,
  green-5: $green-5,
  blue-5: $blue-5,
  black: $black,
  default: $default,
  light: $light,
  primary: $primary,
  primary-light: $primary-light,
  primary-dark: $primary-dark,
  primary-10: $primary-10,
  primary-20: $primary-20,
  primary-30: $primary-30,
  primary-40: $primary-40,
  primary-50: $primary-50,
  primary-60: $primary-60,
  primary-70: $primary-70,
  primary-80: $primary-80,
  primary-90: $primary-90,
  primary-100: $primary-100,
  primary-linear: $primary-linear,
    
  warning: $warning,

  danger: $danger,

  success: $success,

  secondary: $secondary,
  violet: $violet,
);